<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="navbar">
            <ul>
                <li><a href="">SkenAnimation</a></li>
        </div>
        <div class="banner">
            <p>Gambar Untuk Artikel</p>
        </div>
    </div>
    <main>
        <p>Pokoknya ini tuh isi artikel Pokoknya ini tuh isi artikel Pokoknya ini tuh isi artikel Pokoknya ini tuh isi artikel Pokoknya ini tuh isi artikel</p>
    </main>
</body>
</html>