body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.profile {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 20px;
    position: relative;
    width: 200px;
    height: 180px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.edit-profile {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile:hover {
    background-color: #0056b3;
}

.profile-info {
    flex-grow: 1;
}

.profile-info label{
    width: 70px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
}